*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(171, 136, 92);
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    /* background-color: skyblue; */
}

#btn{
    padding: 10px 60px;
    background:#fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
.diceImg img{
    height: 150px;
    width: 150px;
    transition: transform 0.5s ease-in-out;
}

#displayNum{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    text-align: center;
    margin-left: 190px;
    font-weight: bolder;
    font-size: 150%;
}
